services:
  server-php-apache:
    build: .
    container_name: server-php-apache
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - server-mysql
  
  server-node:
    image: node:22-alpine
    container_name: server-node
    user: "${UID:-1000}:${GID:-1000}"
    working_dir: /app
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    environment:
      - VITE_API_URL=http://server-php-apache:80/api
    depends_on:
      - server-php-apache

  # contenedor mysql
  server-mysql:
    image: mysql:8.0.40
    container_name: 'server-mysql'
    restart: 'always'
    ports:
      - 3307:3306
    security_opt:
      - seccomp:unconfined
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./config/my.cnf:/etc/mysql/conf.d/my.cnf
    
  # contenedor phpMyAdmin
  server-phpmyadmin:
    image: phpmyadmin:latest
    container_name: 'server-phpmyadmin'
    restart: always
    depends_on:
      - server-mysql
    ports:
      - 8081:80
    environment:
      - PMA_HOST=server-mysql

volumes:
  data:
  frontend_node_modules: